# Entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type check / lint
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# IDEs / editores
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos locales de Docker / compose
docker-compose.override.yml

# Si usas SQLite local
*.sqlite3
*.db

.agentignore