$primary: #1f883d;
$secondary: #0969da;
$accent: #8250df;

$dark: #0d1117;
$dark-page: #010409;

$positive: #1a7f37;
$negative: #cf222e;
$info: #0969da;
$warning: #9a6700;

$generic-border-radius: 6px;
$button-border-radius: 6px;
