$primary: #1597ff;
$secondary: #33a9ff;
$accent: #8fcfff;

$dark: #020817;
$dark-page: #030712;

$positive: #33a9ff;
$negative: #ff3b55;
$info: #1597ff;
$warning: #f4b84a;

$generic-border-radius: 14px;
$button-border-radius: 14px;
